/* Stylesheet for lab 3, by Malcolm McSwain */

.my-nav {
    background-color: rgb(230, 241, 255);
    border-style: solid;
    border-color: rgb(128, 183, 255);
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: fixed;
    width: 90%;
    min-width: 10%;
    height: 5%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .my-nav {
      position: absolute;
      width: 100%;
      margin: 0;
      margin-left: -10px;
    }
}

nav a {
    margin: 12.5px 0 0 0;
    text-align: center;
    flex: 1;
    text-decoration: none;
}

#heading {
    text-align: center;
    color: '#00214d';
}

legend {
    position: relative;
}

label[for] {
    color: hsl(214, 100%, 50%);
}

a:hover {
    color: '#003780';
}

a:active {
    color: '#b3d4ff';
}

p, b, i {
    color: 'blue';
    display: inline;
}

ul li {
    color: hsl(214, 100%, 50%);
}

section > h1 {
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

input ~ label {
    color: hsl(214, 100%, 50%);
}

code + pre {
    text-decoration: line-through;
}

button.cool-btn {
    display: block;
}

table {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

table > th, table > td {
    grid-row-start: 1;
    grid-row-end: 3;
}